<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
</head>
<body>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Namber product
            </th>
            <th>
                Name product
            </th>
            <th>
                Price
            </th>
            <th>
                Date of ordering
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                Table
            </td>
            <td>
                100
            </td>
            <td>
                20.09.1992
            </td>
            <td>
                edit
            </td>
        </tr>

    </table>
<form action="" method="get">
    <button type="submit">
        create new order
    </button>
</form>
</body>
</html>