<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
</head>
<body>

<table border="4" align="center">
    <tr>
        <th align="center">
            Номер заказа
        </th>
        <th align="center">
            Количество товара
        </th>
        <th align="center">
            Сумма
        </th>
        <th align="center">
            Дата регистрации заказа
        </th>
        <th align="center">
            Статус
        </th>
        <th></th>
    </tr>
    <th:block th:each="order : ${list}" >
        <tr>
            <td align="center" th:text="${order.getId()}">
            </td>
            <td align="center" th:text="${order.getCountProduct()}">
            </td>
            <td align="center" th:text="${order.getPrice()}">
            </td>
            <td align="center" th:text="${order.getDateOfOrdering()}">
            </td>
            <td align="center" th:text="${order.getStatus()}">
            </td>
            <td>
                <form th:method="GET" th:action="@{/orders/{id}(id=${order.getId()})}">
                    <button>Посмотреть заказ</button>
                </form>
            </td>
        </tr>
    </th:block>

</table>
<form th:method="GET" th:action="@{/orders/new}">
    <button>
        Новый заказ
    </button>
</form>
</body>
</html>