<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>

<form th:method="POST" th:action="@{/orders}" th:object="${order}">
  <label for="countProduct">Количество товара</label>
  <input type="text" th:field="*{countProduct}" id="countProduct"/>
  <br/>
  <label for="price">Цена</label>
  <input type="text" th:field="*{price}" id="price"/>
  <br/>
  <label for="status">Статус</label>
  <input type="text" th:field="*{status}" id="status"/>
  <br/>

  <input type="submit" value="Создать"/>
</form>

</body>
</html>